<div class="container">
    <div class="row">
        <div class="col-sm-3" *ngFor="let product of products">
            <div class="card m-2">
                <img [src]="product.image" class="card-img-thumbnail" alt="..." width="250px" height="250px" style="margin-left: 20px; margin-top: 5px;">
                <div class="card-body">
                <h5 class="card-title">{{product.title.substr(0, 20)}}...</h5>
                <p class="card-text">{{product.description.substr(0, 80)}}...</p>
                <button type="button" class="btn btn-primary position-relative" (click)="addToCart(product)">
                    Sepete Ekle
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{product.price | currency:'₺'}}
                    </span>
                </button>
                </div>
            </div>
        </div>
    </div>
</div>